* {
	margin: 0;
	padding: 0;
}

.row {
	display: flex;
	align-items: top;

  }
  
.column {
	flex: 50%;
}

/* Pozadina */
body{
	height: 100vh;
	display: block;
    text-align: center;
    background-image: url(../images/slika3.jpg);
    background-position: top;
    font-family: 'Work Sans', sans-serif;
    background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

/* Content */
.contact-title{
	box-shadow: 0.2em 0.4em 0.8em #543b23;
	width: 40%;
	margin-top: 15vh;
	padding: 1em 2em;
	background-color: #ededed;

}
.contact-title h1{
	font-family: "Playfair Display", serif;
	color: #543b23;
	padding-bottom: 0.5em;
}
.contact-title p{
	padding: 0em 1.5em;
	text-align: justify;
	font-size: 18px;
    line-height: 1.5em;
}
.contact-form {
	margin-top: 15vh;
	background-color: #ededed;
	padding: 0.5em 2em;
	box-shadow: 0.2em 0.4em 0.8em #543b23;
}
.form-control{
    width: 100%;
    background: transparent;
	border: none;
	border-bottom: 1px solid #543b23;
    outline:none;
    font-size: 18px;
    margin-bottom: 0.75em;
}
.form-control::placeholder{
    color: #543b23;
}
input{
    height:2.5em;

}
form .submit{
	font-family: 'Work Sans', sans-serif;
    background: #81be1c;
	border-color: transparent;
	border-radius: 0.75em;
    color: #fff;
    font-size:20px;
    font-weight:600;
    height:2.5em;
	margin-top: 1em;
	width: 8em;
}
form .submit:hover{
    background-color: #a5d74d;
    cursor: pointer;
}

/* Navbar */
nav {
	height: 10vh;
	background-color: #ededed;
}
.nav-links {
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	transform: translate(-0.5%, 0%);
}
.nav-links li a {
	color: #846954;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;	
	padding: 0em 1.2em;	
}	
.nav-links li a:hover {
	color: #a5d74d;
	transition: 250ms;
} 
#logo {
	height: 15vh;
}

@media screen and (max-width: 768px) {
	/* Navbar */
	#logo {
		display: none;
	}
	.line {
		width: 30px;
		height: 3px;
		background: #543b23;
		margin: 5px;
	  }

	nav {
		position: relative;
		width: auto;
	}	
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 30%;
		z-index: 3;
	}
	.nav-links {
		z-index: 2;
		position: fixed;
		background-color: #ededed;
		height: 100%;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -15%);
		-webkit-clip-path: circle(100px at 90% -15%);
		transition:  all 1s ease-out;
		pointer-events: none;
	}
	.nav-links.open {
		clip-path: circle(1050px at 90% -15%);
		-webkit-clip-path: circle(1050px at 90% -15%);
		pointer-events: all;
	}
	.nav-links li {
		padding: 20px 0px;
	}

	/* content */
	body{
		background-color: #ededed;
		background-image: url(#);
	}

	.row{
		display: flex;
		flex-direction: column;
	}
	.column{
		width: 100%
	}	
	.contact-title{
		margin-top: 0vh;
		width: auto;
		box-shadow: 0px 0px 0px 0px #543b23;
		padding: 0em 2em;
		padding-bottom: 3em;
		background-color: #ededed;	
	}
	.contact-title h1{
		font-family: "Playfair Display", serif;
		color: #543b23;
		padding-bottom: 0.5em;
	}
	.contact-title p{
		padding: 0em 1.5em;
		text-align: center;
		font-size: 18px;
		line-height: 1.5em;
	}
	.contact-form {
		margin-top: 0%;
		box-shadow: 0px 0px 0px 0px #543b23;
		background-color: #ededed;
		padding: 0em 0em;
	}
	.form-control{
		width: 50%;
		background: transparent;
		border: none;
		border-bottom: 1px solid #543b23;
		font-size: 18px;
		margin-bottom: 0.75em;
	}
	.form-control::placeholder{
		color: #543b23;
	}
	input{
		height:2.5em;
	}
	form .submit{
		font-family: 'Work Sans', sans-serif;
		background: #81be1c;
		border-color: transparent;
		border-radius: 0.75em;
		color: #fff;
		font-size:20px;
		font-weight:600;
		height:2.5em;
		margin-top: 1em;
		width: 8em;
	}
	form .submit:hover{
		background-color: #a5d74d;
		cursor: pointer;
	}
		
}