.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }
body{
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url(../images/slika3.jpg);
    background-size: center;
    background-position: center;
    font-family: 'Work Sans';
    background-size: cover;
	background-repeat: no-repeat;
	
}
.contact-title{
    margin-top: 200px;
    margin-left: 100px;
    background: rgba(237,237,237,0.4);
    /* text-transform: uppercase; */
     /* transition: all 4s ease-in-out;  */
}
.contact-title p{
    font-size: 30px;
    line-height: 30px;
}

form{
   
    margin-right: 60px;
    margin-top:200px;
    background: rgba(237,237,237,0.4);

}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}
.form-control::placeholder{
    color:black;;
}
input{
    height:45px;

}
form .submit{
    background: #81be1c;
    border-color: transparent;
    color: #fff;
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
    height:50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: #a5d74d;
    cursor: pointer;
}

nav {
	height: 10vh;
	background-color: #ededed;
}
.nav-links {
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
    align-items: center;
    transform: translate(-2%, -25%);
}
.nav-links li a {
	color: #846954;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 0px 20px;	
}	
.nav-links li a:hover {
	color: #a5d74d;
	transition: 250ms;
} 
#logo {
	height: 100px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
	#logo {
		display: none;
	}
	.line {
		width: 30px;
		height: 3px;
		background: #543b23;
		margin: 5px;
	  }

	nav {
		position: relative;
	}	
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 30%;
		z-index: 3;
	}
	.nav-links {
		z-index: 2;
		position: fixed;
		background-color: #ededed;
		height: 100%;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -15%);
		-webkit-clip-path: circle(100px at 90% -15%);
		transition:  all 1s ease-out;
		pointer-events: none;
	}
	.nav-links.open {
		clip-path: circle(1050px at 90% -15%);
		-webkit-clip-path: circle(1050px at 90% -15%);
		pointer-events: all;
	}
	.nav-links li {
		padding: 20px 0px;
	}

}
