* {
	margin: 0;
	padding: 0;
}

/* Navbar */
nav {
	height: 10vh;
	background-color: #ededed;
}
.nav-links {
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}
.nav-links li a {
	color: #846954;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 0px 20px;	
}	
.nav-links li a:hover {
	color: #a5d74d;
	transition: 250ms;
} 
#logo {
	height: 100px;
}

/* Parallax */
.parallax {
    background-image: url("../images/rezervacije.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    position: absolute;
    font-size: 50px;
    color: #ededed;
	font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
    top: 40%;
    left: 40%;
}

/* Forma */
#name, #tel-num, #email, #day, 
#month, #time, #customers, select {
    padding: 12px;
}
  
  /* Style the label to display next to the inputs */
label {
    padding: 1em 0em 0.5em 0em;
    display: block;
}
  
/* Style the submit button */
.submit {

}

  /* Style the container */
.row {
	display: flex;
}
  

.col-33 {
	flex: 33.3333%;
}

.col-165 {
	float: left;
	flex: 16.5%;
}

@media screen and (max-width: 768px) {
	#logo {
		display: none;
	}
	.line {
		width: 30px;
		height: 3px;
		background: #543b23;
		margin: 5px;
	  }
	nav {
		position: relative;
	}
    .hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 30%;
		z-index: 3;
	}
	.nav-links {
		z-index: 2;
		position: fixed;
		background-color: #ededed;
		height: 100%;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -15%);
		-webkit-clip-path: circle(100px at 90% -15%);
		transition:  all 1s ease-out;
		pointer-events: none;
	}
	.nav-links.open {
		clip-path: circle(1050px at 90% -15%);
		-webkit-clip-path: circle(1050px at 90% -15%);
		pointer-events: all;
	}
	.nav-links li {
		padding: 20px 0px;
    }
}

/* tamno braon: #543b23
svetlija braon: #846954
sivo bela: #ededed
svetlo zelena: #a5d74d
zelena: #81be1c  */
