* {
	margin: 0;
	padding: 0;
}

nav {
	height: 10vh;
	background-color: #ededed;
}



.nav-links {
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

.nav-links li a {
	color: #846954;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 0px 20px;

}

h1 {
	/* slika logoa ovde treba */
	float: left;
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 2.5%;
}

.nav-links li a:hover {
	color: #a5d74d;
	transition: 250ms;
} 

@media screen and (max-width: 768px) {
	.line {
		width: 30px;
		height: 3px;
		background: #543b23;
		margin: 5px;
	  }
	nav {
		position: relative;
	}
	
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
	
}

/* tamno braon: #543b23
svetlija braon: #846954
sivo bela: #ededed
svetlo zelena: #a5d74d
zelena: #81be1c  */
