* {
	margin: 0;
	padding: 0;
}

body{
	background: rgba(0,0,0,0.9);
	margin: 0;
	color:#ededed;
	font-family: 'Work Sans' sans-serif;
}
 /* ovo se odnosi na pozadinsku sliku  */

.showcase::after{
content:'';
height: 100vh;
width:100%;
background-image: url(images/slika1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: block;
filter: blur(3px);
-webkit-filter:blur(3px) ;
transition: all 1000ms;
}

.showcase:hover::after{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}
/* blurovanje glavnog teksta na slici */
.showcase:hover .content{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}
.content{
position: absolute;
z-index: 1;
top:10px;
left: 50%;
margin-top: 160px;
margin-left: -145px; 
width: 300px;
height: 350px;
text-align: center;
transition: all 1000ms;


}
.content .title{
	font-size: 40px;
	margin-top: 1rem;
	font-family: 'Playfair Display';
	font-weight: bold;
}
.content .text{
	line-height: 2rem;
	margin-top: 1rem;
}
.top-nav {
	background-color: #ededed;
	overflow: hidden;
	display: flex;
	align-content: space-between;
	align-items: center;
	justify-content: center;
}

.top-nav a {
	font-family: 'Work Sans', sans-serif;
  	color: #846954;

	text-decoration: none;
	align-self: center;
	padding: 20px 10px;
	font-size: 12px;
}

#top-nav-logo {
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding: 0px 20px;
}

.top-nav img {
	height: 18px;
	align-self: center;
	filter: brightness(0.25);
}

#ig-icon {
	height: 16px;
}

.top-nav a:hover {
	background-color: #a5d74d;
	color: #ededed;
}



/* tamno braon: #543b23
svetlija braon: #846954
sivo bela: #ededed
svetlo zelena: #a5d74d
zelena: #81be1c  */
